.statistics-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.4em;
    text-align: left;
    width: 100%;
    align-items: end;
    justify-content: space-between;
    font-weight: 200;
}

.statistics-line-header {
    height: 100%;
    text-wrap: nowrap;
}

.statistics-line-value {
    text-align: center;
    align-items: center;
    align-content: end;
}