.statistics {
    display: flex;
    flex-direction: column;
    max-width: 40%;
}

.statistics-line {
    display: flex;
    flex-direction: row;
    font-size: 1.4em;
    text-align: left;
    width: 100%;
    gap: 1em;
    align-items:end;
}

.statistics-line-header {
    font-weight: 600;
    height: 100%;
    text-wrap: nowrap;
}

.statistics-line-value {
    height: 100%;
}

@media (max-aspect-ratio: 1/1.7) {
    .container {
        font-size: 5.5vw;
    }
}