.game-container {
    display: grid;
    grid-auto-flow: row;
    gap: 6px;
    width: 55vh;
    grid-template-columns: 3fr 1fr;
    font-size: 1.5vh;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

@media (max-aspect-ratio: 1/1.7) {
    .game-container {
        width: 95vw;
        height: auto;
        font-size: 3vw;
    }
}

.main-area {
    grid-column: 1;
    display: flex;
    gap: 1%;
    flex-direction: column;
}

.side-area {
    grid-column: 2;
    gap: 6px;
    display: flex;
    flex-direction: column;
}