.game-container {
    display: grid;
    grid-auto-flow: row;
    gap: 6px;
    height: 80vh;
    width: 60vh;
    grid-template-columns: 2fr 1fr;
}

@media (max-aspect-ratio: 1/1.6) {
    .game-container {
        height: 121vw;
        width: 91vw;
    }
}

.main-area {
    grid-column: 1;
    display: flex;
    gap: 1%;
    flex-direction: column;
}

.side-area {
    grid-column: 2;
    gap: 6px;
    display: flex;
    flex-direction: column;
}
