@import "/src/vars";

.__block {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: no-repeat center center cover;
    border-radius: 15%;
}

._block-color_blue {
    background-color: $blue;
}

._block-color_red {
    background-color: $red;
}

._block-color_orange {
    background-color: $orange;
}

._block-color_green {
    background-color: $green;
}

._block-color_purple {
    background-color: $purple;
}

._block-color_yellow {
    background-color: $yellow;
}

._block-color_marin {
    background-color: $marin;
}