@import "/src/vars";

.block {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: no-repeat center center cover;
    border-radius: 15%;
}

.blue {
    background-color: $blue;
}

.red {
    background-color: $red;
}

.orange {
    background-color: $orange;
}

.green {
    background-color: $green;
}

.purple {
    background-color: $purple;
}

.yellow {
    background-color: $yellow;
}

.marin {
    background-color: $marin;
}