@import "/src/_vars";

header {
    color: $white;
    display: flex;
    justify-content: space-between;
    height: 35px;
    align-items: stretch;
}

.header__navigation {
    display: flex;
    gap: 16px;
    flex-direction: row;
}

.sidebar__button {
    padding: 0;
    margin: 0;
    gap: 0;
    display: flex;
    align-items: center;

    background-color: $darkest;
    cursor: pointer;
    font-size: 1.5em;

    &:active,
    &:hover {
        background-color: $darkest;
    }
}

