@import "/src/vars";

.card-container {
    position: relative;
    background-color: $bgColorLight;
    width: 100%;
    padding-top: 100%;
    border-radius: 4%;
}

.card-content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: $textColorDark;
    text-align: center;
    margin: 8%;
}

.card-header {
    color: $textColorGrey;
    font-size: 1.3em;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 6%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: rotate(-90deg);
}