@import "/src/_vars";

.highscores {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.highscores-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    font-size: 1.5em;
    align-items: center;
    justify-content: center;
    margin-bottom: .5em;
    margin-top: .5em;
    font-weight: 400;
}

.highscores-table {
    width: 100%;
}

.score-line {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    font-size: 1.4em;
    width: 100%;
    padding: 5px 0;
    line-height: 1em;
    border-radius: 6px;
    gap: .5em;
}

.message {
    font-weight: 100;
    font-style: italic;
    justify-content: center;
    padding: 0;
}

.score-line-position-number {
    text-align: center;
    font-weight: 400;
    min-width: 1.5em;
}

.score-line-score {
    text-align: center;
    font-weight: 100;
}