.sidebar {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-top: 10px;
    translate: -200%;
    align-items: flex-start;
    padding: 20px;
    backdrop-filter: blur(4px);
    background-color: rgba(46, 46, 46, 0.25);
    text-shadow: black 0 0 15px;
    box-shadow: 
        inset rgba($color: white, $alpha: .1) 1px 1px,
        inset rgba($color: black, $alpha: .1) -1px -1px,
        rgba($color: black, $alpha: .5) 5px 5px 20px;
    border-radius: 10px;
    position: relative;
    z-index: 600;

    transition: 350ms;
}

.active {
    translate: 0;
    transition: 350ms;
}