// Colors
$blue: #7DAAFF;
$red: #F57373;
$green: #AAE889;
$orange: #FAB482;
$purple: #F5A2D8;
$darkest: #171611;
$grey: #ADABA3;
$white: #FCFBF7;

$bgColorDark: $darkest;
$bgColorLight: $white;
$textColorDark: $darkest;
$textColorGrey: $grey;
$textColorLight: $white;