// Colors
$grey: #ADABA3;
$white: #FCFBF7;
$darkest: #171611;
$blue: #7DAAFF;
$marin: #7ED9AD;
$red: #F57373;
$green: #AAE889;
$orange: #FAB482;
$yellow: #FFEAB0;
$purple: #F5A2D8;

$bgColorDark: $darkest;
$bgColorLight: $white;
$textColorDark: $darkest;
$textColorGrey: $grey;
$textColorLight: $white;

// Fonts
$fontFamilyDefault: "Sofia Sans Condensed";